[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
jupyter = "*"
classifier = "*"
spanish-sentiment-analysis = "*"
numpy = "*"
scipy = "*"
scikit-learn = "==0.19.2"

[dev-packages]

[requires]
python_version = "3.7"
